.home {
    margin-top: 10px;
}

.home-text {
    display:flex;
    justify-content: center;
    align-items: center;    
}

.carousel-img {
  width: 100% !important;
  height: 60vh;  
  object-fit: cover;
}

.home > p {
    margin-top: 5px;
    margin: 0 5em;
}
