.header-container {
  display: grid;
  border: thin none thin none;
  background-color: var(--main-color);
  color: var(--bg-color);
}

.contact-header-container {
  display: flex;
  align-items: center;
}

.contact-header-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .buttons-header-container {
    display: grid;
    grid-template-columns: 50% auto;
  }

  .contact-header-container {
    display: flex;
    flex-direction: row;
  }
}
