.home {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  width: 100% !important;
  height: 60vh;
  object-fit: cover;
  margin-bottom: 1vh;
}

.home > p {
  border-color: var(--main-color);
  border-top: thin;
  border-style: solid none none none;
  margin: 2vh 5vw;
}

.title-h3 {
    color: var(--bg-color);
    background-color: var(--main-color);
    margin: 1vh 5vw;
    border-radius: 0 1rem 0 1rem;
  }

.social-container {
  display: grid;
  grid-template-columns: 50% auto;
}



@media (max-width: 600px) {
  .social-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 45rem), 1fr));
  }

  .facebook-container{
      width: 100vw;
      overflow-x: scroll;
  }
}
