:root {
  --bg-color: #eeeeee;
  --text-color: rgb(0, 60, 40);
  --main-color: rgb(0, 60, 40);
  --main-color-opacity: rgba(2, 2, 2, 0.4);
  --secondary-color: rgb(10, 185, 160);
}

.app {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0px;
  padding: 0px;
}

.h1 {
  color: var(--main-color);
}
